#cv-form{
    /*display: none;*/
}

#cv-template{
    /*display: none;*/
}

.myimg {
	border-radius: 50%;
	width: 200px;
}

.background {
	background-color: aqua;
}

#cv-template {
	/* border: 3px solid black; */
	margin-top: 50px;
	box-shadow: 0px 0px 10px 10px rgb(143, 143, 143);
	max-width: 1000px;
}

.profileimg{
	width: 200px;
	float: left;
	margin-left: 2px;
	padding: 5px;
}
.background1a{
	background-color: #ffffff;
}

.background1b{
	background-color: #8a8888;
	color: #ffffff;
}

.background1c{
	background-color: #aba446;
}

.background1d{
	background-color: #545454;
	color: #ffffff;
}

.background1e{
	background-color: #292828;
	color: #ffffff;
}

div{
	padding: 5px;
}

.name{
	text-align: center;
	background-color: #c4ae06;
}

.proname{
	background-color: black;
	text-align: left;
	color: red;
	background-size: cover;
}

