#cv-form{
    /*display: none;*/
}

#cv-template{
    /*display: none;*/
}

.myimg {
	border-radius: 50%;
	width: 200px;
}

.background {
	background-color: aqua;
}

#cv-template {
	/* border: 3px solid black; */
	margin-top: 50px;
	box-shadow: 0px 0px 10px 10px rgb(143, 143, 143);
	max-width: 1000px;
}

